
@import "tailwindcss";

:root {
  --primary-color: #4f46e5;
  --secondary-color: #6b7280;
  --background-color: #f9fafb;
  --text-color: #111827;
  --bg:#F6F8F8;
  --bg2:#013C61;
  --bg3: #2BDA5333;
}